{% extends 'base.html' %}

{% block content %}

<header class="header--form-page">
    {% include 'header.html' %}

    {% if messages %}
    {% for message in messages %}
    <div class="message--{{message.tags}}">{{message}}</div>
    {% endfor %}
    {% endif %}

    {% if form.errors %}
    <div class="message--error">Password must contain at least 1 uppercase letter and 1 digit.</div>
    {% endif %}

    <h1>Change Password Form</h1>
    <div class="pw--change">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="pw--change--box">
                <p>{{form.current_pw}}</p>
                <p>{{form.new_pw_1}}</p>
                <p>{{form.new_pw_2}}</p>
                <input type="submit" class="btn btn--save profile" name="niccc" value="Save">
            </div>
        </form>
    </div>





</header>

{% endblock %}