{% extends 'base.html' %}

{% block content %}

<header class="header--form-page">
  {% include 'header.html' %}
  {% if messages %}
  {% for message in messages %}
  <div class="message--{{ message.tags }} {% if xxx %}{{ xxx }}{% endif %}" style="width: 100%">{{ message }}</div>
  {% endfor %}
  {% endif %}
  <div class="slogan container container--90">
    <div class="slogan--item">
      <h1>
        Give away things that you do not need anymore<br />
        <span class="uppercase">to those in need</span>
      </h1>

      <div class="slogan--steps">
        <div class="slogan--steps-title">Only 4 simple steps:</div>
        <ul class="slogan--steps-boxes">
          <li>
            <div><em>1</em><span>Choose things</span></div>
          </li>
          <li>
            <div><em>2</em><span>Pack them in bags</span></div>
          </li>
          <li>
            <div><em>3</em><span>Choose foundation</span></div>
          </li>
          <li>
            <div><em>4</em><span>Order a courier</span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<section class="form--steps">
  <div class="form--steps-instructions">
    <div class="form--steps-container">
      <h3>Important!</h3>
      <p data-step="1" class="active">
        Complete the details of your things. Thanks to that we will
        know who is best to pass them on.
      </p>
      <p data-step="2">
        Complete the details of your things. Thanks to that we will
        know who is best to pass them on.
      </p>
      <p data-step="3">
       Choose one to which your shipment will go to.
      </p>
      <p data-step="4">Enter the address and date.</p>
    </div>
  </div>

  <div class="form--steps-container">
    <div class="form--steps-counter">Step <span>1</span></div>
    <form action="" method="POST">

      <!-- STEP 1: class .active is switching steps -->
      <div data-step="1" class="active">
        <h3>Mark what you want to give away:</h3>

        {% for i in categories %}
        <div class="form-group form-group--checkbox">
          <label>
            <input
              type="checkbox"
              name="categories"
              value="{{ i.id }}"
            />
            <span class="checkbox"></span>
            <span class="description"
              >{{ i.name }}</span
            >
          </label>
        </div>
        {% endfor %}
        <input name= "checked_categories" class="categories_all" type="hidden" value="">

        <div class="form-group form-group--buttons">
          <button type="button" class="btn next-step">Next</button>
        </div>
      </div>

      <!-- STEP 2 -->
      <div data-step="2">
        <h3>Enter the number of 60l bags in which you packed your things</h3>

        <div class="form-group form-group--inline">
          <label>
            Number of 60l bags:
            <input type="number" name="bags" step="1" min="1" />
          </label>
        </div>

        <div class="form-group form-group--buttons">
          <button type="button" class="btn prev-step">Previous</button>
          <button type="button" class="btn next-step">Next</button>
        </div>
      </div>



      <!-- STEP 3 -->
      <div data-step="3">
        <h3>Select the organization you want to help:</h3>
        <h4 style="font-size: 16px">Based on the items that you want to give away, we separated foundations which collect them. </h4><br><br>

        {% for i in institutions %}
        <div class="form-group form-group--checkbox institution" data-categories="{% for c in i.categories.all %} {{ c.id }} {% endfor %}">
          <label>
            <input type="radio" name="organization" value="{{ i.id }}" />
            <span class="checkbox radio"></span>
            <span class="description">
              <div class="title">“<b>{{ i.name }}</b>”<span style="font-size: 13px; color: #7F8177"> -- {{ i.get_type_display }}</span> </div>
              <div class="subtitle">
                Mission: {{ i.description }}
              </div>
            </span>
          </label>
        </div>
        {% endfor %}
        <input type="hidden" name="checked_organization" class="checked_org" value="">
<!--         document.querySelectorAll('.institution')[0].dataset.categories -->
        <div class="form-group form-group--buttons">
          <button type="button" class="btn prev-step">Previous</button>
          <button type="button" class="btn next-step">Next</button>
        </div>
      </div>

      <!-- STEP 4 -->
      <div data-step="4">
        <h3>Enter the address and date of things that are set to be picked:</h3>

        <div class="form-section form-section--columns">
          <div class="form-section--column">
            <h4>Address</h4>
            <div class="form-group form-group--inline">
              <label> Street <input type="text" name="address" /> </label>
            </div>

            <div class="form-group form-group--inline">
              <label> City <input type="text" name="city" /> </label>
            </div>

            <div class="form-group form-group--inline">
              <label>
                Postcode <input type="number" name="postcode" />
              </label>
            </div>

            <div class="form-group form-group--inline">
              <label>
                Telephone number <input type="number" name="phone" />
              </label>
            </div>
          </div>

          <div class="form-section--column">
            <h4>Pick up date</h4>
            <div class="form-group form-group--inline">
              <label> Data <input type="date" name="data" /> </label>
            </div>

            <div class="form-group form-group--inline">
              <label> Time <input type="time" name="time" /> </label>
            </div>

            <div class="form-group form-group--inline">
              <label>
                Comments for courier
                <textarea name="more_info" rows="5"></textarea>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group form-group--buttons">
          <button type="button" class="btn prev-step">Previous</button>
          <button type="button" class="btn next-step summary-button">Next</button>
        </div>
      </div>

      <!-- STEP 5 -->
      <div data-step="5">
        <h3>Summary of your donation</h3>

        <div class="summary">
          <div class="form-section">
            <h4>You are giving away:</h4>
            <ul>
              <li>
                <span class="icon icon-bag"></span>
                <span class="summary--text"></span>
              </li>

              <li>
                <span class="icon icon-hand"></span>
                <span class="summary--text"></span>
              </li>
            </ul>
          </div>

          <div class="form-section form-section--columns">
            <div class="form-section--column">
              <h4>Pick-up location:</h4>
              <ul>
                <li></li>
                <li id="id2"><input name="city_submit" type="hidden" value="dsa"></li>
                <li id="id3"><input name="postcode_submit" type="hidden" value=""></li>
                <li id="id4"><input name="tel_submit" type="hidden" value=""></li>
              </ul>
            </div>

            <div class="form-section--column">
              <h4>Pick-up date:</h4>
              <ul id="myList2">
                <li id="id5"><input name="date_submit" type="hidden" value=""></li>
                <li id="id6"><input name="time_submit" type="hidden" value=""></li>
                <li id="id7"><input name="comments_submit" type="hidden" value=""></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="form-group form-group--buttons">
          <button type="button" class="btn prev-step">Previous</button>
          <button type="submit" class="btn">Confirm</button>
        </div>
      </div>
      {% csrf_token %}
    </form>
  </div>
</section>

{% endblock %}
