<header>
  <nav class="container container--70">
    <ul class="nav--actions">
      <li><a href="{% url 'login' %}">Log in</a></li>
      <li class="highlighted"><a href="{% url 'register' %}">Sign up</a></li>
    </ul>

    <ul>
      <li><a href="/">Start</a></li>
      <li><a href="/#steps">What is it about?</a></li>
      <li><a href="/#about-us">About us</a></li>
      <li><a href="/#help">Foundations and organisations</a></li>
      <li><a href="/#contact">Contact us</a></li>
    </ul>
  </nav>
</header>