{% extends 'base.html' %}

{% block content %}

<header class="header--main-page">
  {% include 'header_index_form.html' %}

  <div class="slogan container container--90">
    <div class="slogan--item">
      <h1>
        Start helping!<br />
        Put your  unwanted items in trusted hands
      </h1>
    </div>
  </div>
</header>

<section id="stats" class="stats">
  <div class="container container--85">
    <div class="stats--item">
      <em>{{sacks_qty}}</em>
      <h3>Given away bags</h3>
      <p>The amount of bags ever given away through our website</p>
    </div>

    <div class="stats--item">
      <em>{{inst_qty}}</em>
      <h3>Supported organizations</h3>
      <p>The total amount of organizations, foundations and local fund-raisers that cooperate with us. </p>
    </div>

  </div>
</section>

<section id="steps" class="steps">
  <h2>4 simple steps are enough</h2>

  <div class="steps--container">
    <div class="steps--item">
      <span class="icon icon--hands"></span>
      <h3>Choose items</h3>
      <p>clothes, toys, devices and other</p>
    </div>
    <div class="steps--item">
      <span class="icon icon--arrow"></span>
      <h3>Pack them up</h3>
      <p>use garbage bags</p>
    </div>
    <div class="steps--item">
      <span class="icon icon--glasses"></span>
      <h3>Dedice who you want to help</h3>
      <p>choose trusted place</p>
    </div>
    <div class="steps--item">
      <span class="icon icon--courier"></span>
      <h3>Order a courier</h3>
      <p>the courier will arrive at a convenient time</p>
    </div>
  </div>
  {% if not user.is_authenticated %}
  <a href="{% url 'register' %}" class="btn btn--large">Create an account</a>
  {% endif %}
</section>

<section id="about-us" class="about-us">
  <div class="about-us--text">
    <h2>About us</h2>
    <p>We cooperate with the world's most known charitable organizations in order to help those in dire need.</p>
    <img src="../static/images/signature.svg" class="about-us--text-signature" alt="Signature" />
  </div>
  <div class="about-us--image"><img src="../static/images/about-us.jpg" alt="People in circle" /></div>
</section>

 <section id="help" class="help">
  <h2>Who do we help?</h2>

  <ul class="help--buttons">
    <li data-id="1"><a href="#" class="btn btn--without-border active">Foundations</a></li>
    <li data-id="2"><a href="#" class="btn btn--without-border">Non-governmental organizations</a></li>
    <li data-id="3"><a href="#" class="btn btn--without-border">Local fund-raisers</a></li>
  </ul>

  <!-- SLIDE 1 -->
  <div class="help--slides active" data-id="1">
    <p>In our database you will find a list of verified Foundations with which we cooperate. You can check what they do, who they help and what they need.</p>

    <ul class="help--slides-items">
      {% for i in all_fndn %}
      <li>
        <div class="col">
          <div class="title">Foundation "{{i.name}}"</div>
          <div class="subtitle">Goal and mission: {{i.description}}.</div>
        </div>

        <div class="col"><div class="text">{% for x in i.categories.all %} {{ x.name }}, {% endfor %}</div></div>
      </li>
      {% endfor %}

    </ul>



    <ul class="help--slides-pagination">
      <li><a href="?page={{pagina.}}" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
      <li><a href="?page=2" class="btn btn--small btn--without-border" data-page="2">2</a></li>
      <li><a href="#" class="btn btn--small btn--without-border" data-page="3">3</a></li>
    </ul>
<!--      {% if venues.has_previous %}-->
<!--        <a href="?page=1/#help">&laquo First</a>-->
<!--        <a href="?page={{venues.previous_page_number}}">Previous</a>-->
<!--      {% endif %}-->

<!--      Page {{ venues.number }} of {{ venues.paginator.num_pages }} <br>-->

<!--      {% if venues.has_next %}-->
<!--      <a href="?page={{ venues.next_page_number }}">next</a>-->
<!--      <a href="?page={{ venues.paginator.num_pages }}">last</a>-->


<!--      {% endif %}-->



  </div>


  <!-- SLIDE 2 -->
  <div class="help--slides" data-id="2">
    <p>In our database you will find a list of verified non-governmental organizations with which we cooperate. You can check what they do, who they help and what they need.
    </p>
    <ul class="help--slides-items">
      {% for i in all_non_govt %}
      <li>
        <div class="col">
          <div class="title">"{{i.name}}"</div>
          <div class="subtitle">{{i.description}}.</div>
        </div>

        <div class="col"><div class="text">{% for x in i.categories.all %} {{ x.name }}, {% endfor %}</div></div>
      </li>
      {% endfor %}
    </ul>


    <ul class="help--slides-pagination">
      <li><a href="#" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
      <li><a href="#" class="btn btn--small btn--without-border" data-page="2">2</a></li>
      <li><a href="#" class="btn btn--small btn--without-border" data-page="3">3</a></li>
      <li><a href="#" class="btn btn--small btn--without-border" data-page="4">4</a></li>
      <li><a href="#" class="btn btn--small btn--without-border" data-page="5">5</a></li>
    </ul>

  </div>

  <!-- SLIDE 3 -->
  <div class="help--slides" data-id="3">
    <p>In our database you will find a list of verified local fund-raisers with which we cooperate. You can check what they do, who they help and what they need.</p>
    <ul class="help--slides-items">
      {% for i in all_local %}
      <li>
        <div class="col">
          <div class="title">"{{i.name}}"</div>
          <div class="subtitle">{{i.description}}.</div>
        </div>

        <div class="col"><div class="text">{% for x in i.categories.all %} {{ x.name }}, {% endfor %}</div></div>
      </li>
      {% endfor %}

    </ul>


    <ul class="help--slides-pagination">
      <li><a href="#" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
      <li><a href="#" class="btn btn--small btn--without-border" data-page="2">2</a></li>
    </ul>

  </div>
</section>
{% endblock %}

