{% extends 'base.html' %}

{% block content %}
<header class="header--main-page">
{% include 'header_index_form.html' %}
  {% if msg %}
  <div class="message--error">{{msg}}</div>
  {% endif %}
  {% if messages %}
  {% for message in messages %}
  <div class="login--verified">{{message}}</div>
  {% endfor %}
  {% endif %}
  <section class="login-page">
    <h2>Log in</h2>
    <div style="color: red; font-size: 16px; text-align: center"><b>{{error}}</b></div>
    <form action="" method="POST">
      <div class="form-group">
        <input type="email" name="email" placeholder="Email" />
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password" />
        <a href="#" class="btn btn--small btn--without-border reset-password">Remind password</a>
      </div>

      <div class="form-group form-group--buttons">
        <a href="#" class="btn btn--without-border">Sign up</a>
        <button class="btn" type="submit">Log in</button>
      </div>
    </form>
  </section>
{% endblock %}
</header>
