{% extends 'base.html' %}

{% block content %}
{% include 'header_login_register.html' %}

    <section class="login-page">
      <h2>Zaloguj się</h2>
      <div style="color: red; font-size: 16px; text-align: center"><b>{{error}}</b></div>
      <form action="" method="POST">
        {% csrf_token %}
        {% if error %}
        {% endif %}

        <div class="form-group">
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Hasło" />
          <a href="#" class="btn btn--small btn--without-border reset-password">Remind password</a>
        </div>

        <div class="form-group form-group--buttons">
          <a href="#" class="btn btn--without-border">Sign up</a>
          <button class="btn" type="submit">Log in</button>
        </div>
      </form>
    </section>
{% endblock %}
