{% extends 'base.html' %}

{% block content %}
{% include 'header_login_register.html' %}


    <section class="login-page">
      <h2>Registration</h2>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{form.username}}
        </div>
        <div class="form-group">
          {{form.first_name}}
        </div>
         <div class="form-group">
           {{form.last_name}}
        </div>
        <div class="form-group">
          {{form.email}}
        </div>
        <div class="form-group">
          {{form.pass1}}
        </div>
        <div class="form-group">
          {{form.pass2}}
        </div>

        <div class="form-group form-group--buttons">
          <a href="login.html" class="btn btn--without-border">Log in</a>
          <button class="btn" type="submit">Set up</button>
        </div>
      </form>
    </section>
{% endblock %}
