{% extends 'base.html' %}

{% block content %}
<header class="header--main-page">
{% include 'header.html' %}
  {% if form.non_field_errors %}
  <div class="message--error">{{form.non_field_errors}}</div>
  {% endif %}
    <section class="login-page registration">
      <h2>Registration</h2>
      <form action="" method="POST">
        {% csrf_token %}

        <div class="form-group">
          {{form.username}} {{form.username.errors}}
        </div>
        <div class="form-group">
          {{form.first_name}}
        </div>
         <div class="form-group">
           {{form.last_name}}
        </div>
        <div class="form-group">
          {{form.email}}
        </div>
        <div class="form-group">
          {{form.pass1}}
        </div>
        <div class="form-group">
          {{form.pass2}}
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'login' %}" class="btn btn--without-border">Log in</a>
          <button class="btn" type="submit">Sign up</button>
        </div>
      </form>
    </section>
{% endblock %}
</header>