{% extends 'base.html' %}

{% block content %}
<header class="header--main-page">

{% include 'header.html' %}

  {% if 'email' in form.errors %}
  <div class="message--info">{{ form.errors.email.as_text|cut:"*" }}</div>
  {% endif %}

  {% for key, value in form.errors.items %}
  {% if key == '__all__' %}
  <div class="message--warning">{{ value.as_text|cut:"*" }}</div>
  {% endif %}
  {% endfor %}

  {% if 'pass1' in form.errors %}
  <div class="message--error">{{ form.errors.pass1.as_text|cut:"*" }}</div>
  {% endif %}

    <section class="login-page registration">
      <h2>Registration Form</h2>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{form.first_name}}
        </div>
         <div class="form-group">
           {{form.last_name}}
        </div>
        <div class="form-group">
          {{form.email}}
        </div>
        <div class="form-group">
          {{form.pass1}}
        </div>
        <div class="form-group">
          {{form.pass2}}
        </div>
        <div class="form-group form-group--buttons">
          <a href="{% url 'login' %}" class="btn btn--without-border">Log in</a>
          <button class="btn" type="submit">Sign up</button>
        </div>
      </form>
    </section>

{% endblock %}
</header>
