{% extends 'base.html' %}

{% block content %}
<header class="header--main-page">
{% include 'header.html' %}
  {% if messages %}
  {% for message in messages %}
  <div class="message--{{message.tags}}">{{ message }}</div>
  {% endfor %}
  {% endif %}

  <section class="login-page">
    <h2>Forgot your password?</h2>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-group reset-pw">Enter your email address. We will send you an email to reset your password.</div>
      <div class="form-group">
        {{ form.username }}
      </div>
      <div class="form-group form-group--buttons">
        <a href="{% url 'login' %}" class="btn btn--without-border">Back</a>
        <button class="btn" type="submit">Send</button>
      </div>
    </form>
  </section>

{% endblock %}
</header>