{% extends 'base.html' %}

{% block content %}
<header class="header--main-page">
{% include 'header_index_form.html' %}
  {% if messages %}
  {% for message in messages %}
  <div class="message--{{message.tags}}">{{message}}</div>
  {% endfor %}
  {% endif %}
  <section class="login-page">
    <h2>Create a new password</h2>
    <div style="color: red; font-size: 16px; text-align: center"><b>{{error}}</b></div>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-group reset-pw"></div>
      <div class="form-group">
        <input type="password" name="pw1" placeholder="Password" />
      </div>
      <div class="form-group">
        <input type="password" name="pw2" placeholder="Repeat password" />
      </div>
      <div class="form-group form-group--buttons">
        <div></div>
<!--        <a class="btn btn&#45;&#45;without-border">Cancel</a>-->
<!--        -->
        <button class="btn" type="submit">Save</button>
      </div>
    </form>
  </section>
{% endblock %}
</header>

