{% extends 'base.html' %}

{% block content %}

<header class="header--form-page">
    {% include 'header.html' %}
    {% if messages %}
    {% for message in messages %}
    <div class="message--{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <h1>Edit profile</h1>
    <div class="mainnn">
        <div class="left--profile">
            <div>Username / email:</div>
            <div>First name:</div>
            <div>Last name:</div>
        </div>
        <div class="right--profile">
            <form action="" method="POST">
                {% csrf_token %}
                <div><input maxlength="30" name="username" value="{{user.username}}"/></div>
                <div><input maxlength="15" name="first_name" value="{{user.first_name}}"/></div>
                <div><input maxlength="15" name="last_name" value="{{user.last_name}}"/></div>
                <input name="pass" type="hidden" value=""/>
                <div><input class="btn btn--save profile" name="send_button" type="submit" value="Save"></div>
            </form>
        </div>
    </div>
    <div class="change--pw">
        <a href="{% url 'change-pw' %}">Change password</a>
    </div>
</header>


{% endblock %}