{% extends 'base.html' %}

{% block content %}

<header class="header--form-page">
  {% include 'header_index_form.html' %}
    <h1>User profile</h1>
    <div class="mainnn">
        <div class="left--profile">
            <div>Username / email:</div>
            <div>First name:</div>
            <div>Last name:</div>
            <div>Account creation date:</div>
        </div>
        <div class="right--profile">
            <div>{{user.username}}</div>
            <div>{{user.first_name}}</div>
            <div>{{user.last_name}}</div>
            <div>{{user.date_joined}}</div>
        </div>

    </div>
    <div class="given--items--list">
        <div class="table--title">List of all donations you have made</div>
        <table class="table--donations">
            <tr class="table--headlines">
                <td>Number of bags</td>
                <td>Organization</td>
                <td>Categories</td>
                <td>Pick up date</td>
                <td>Archive</td>
            </tr>
            {% for i in user_donations %}
            <tr>
                <form id="archiveForm">
                    {% csrf_token %}
                    <td>{{i.quantity}}</td>
                    <td>"{{i.institution.name}}"</td>
                    <td style="font-size: 15px">{% for x in i.categories.all %} |{{x}}| {% endfor %}</td>
                    <td>{{i.pick_up_date}} // {{i.pick_up_time}}</td>
                    <input type="hidden" id="inst_id" name="inst_id" value="{{i.id}}">
                    <td><button type="submit" class="archive--box" name="archive_box" value="{{i.id}}">+</button></td>
                </form>

            </tr>
            {% endfor %}
            {% for i in user_donations_archive %}
            <tr style="color: #7F8177">
                <form id="unarchiveForm">
                    {% csrf_token %}
                    <td>{{i.quantity}}</td>
                    <td>"{{i.institution.name}}"</td>
                    <td style="font-size: 15px">{% for x in i.categories.all %} |{{x}}| {% endfor %}</td>
                    <td>{{i.pick_up_date}} // {{i.pick_up_time}}</td>
                    <input type="hidden" id="uninst_id" name="uninst_id" value="{{i.id}}">
                    <td><button type="submit" class="unarchive--box" name="unarchive_box" value="{{i.id}}">+</button></td>
                </form>

            </tr>
            {% endfor %}
        </table>
    </div>

</header>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
</script>

{% endblock %}

